<ion-tabs class="tabs-item-hide" animation="slide-left-right">
    <!-- Pin Tab -->
    <ion-tab title="Layout 1" ui-sref="layouts.layout1">
        <ion-nav-view name="tab-layout1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Layout 2" ui-sref="layouts.layout2">
        <ion-nav-view name="tab-layout2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Layout 3" ui-sref="layouts.layout3">
        <ion-nav-view name="tab-layout3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Layout 4" ui-sref="layouts.layout4">
        <ion-nav-view name="tab-layout4"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Layout 5" ui-sref="layouts.layout5">
        <ion-nav-view name="tab-layout5"></ion-nav-view>
    </ion-tab>
</ion-tabs>
