<ion-view view-title="Digital Wall" hide-nav-bar="true">
  <!-- do you want padding? -->
  <ion-content scroll="false">

    <!-- content goes here -->
    <div class="layout-2-tickers">
    	Scrolling/Sliding Tickers
    </div>
    
    <div class="layout-2-video-container row">
	    <div class="layout-2-videoframe col-80">
	    	Video/Image frame
	    </div>
	    <div class="layout-2-banner col-20">
	    	<div class="layout-4-banner">Banner 1</div>
	    	<div class="layout-4-banner layout-4-banner-2">Banner 2</div>
	    </div>
    </div>
    
  </ion-content>
</ion-view>
